<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syahputrareno975.ayolesapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.certificate_view.CertificateActivity"></activity>
        <activity android:name=".ui.activity.exam_result.ExamResultActivity" />
        <activity android:name=".ui.activity.exam_classroom.ExamClassRoomActivity" />
        <activity android:name=".ui.activity.material_detail.MaterialDetailClassRoomActivity" />
        <activity android:name=".ui.activity.update_profile.UpdateProfileActivity" />
        <activity android:name=".ui.activity.register.RegisterActivity" />
        <activity android:name=".ui.activity.material_classroom.MaterialClassRoomActivity" />
        <activity android:name=".ui.activity.detail_course.DetailCourseActivity" />
        <activity android:name=".ui.activity.search_course.SearchCourseActivity" />
        <activity
            android:name=".ui.activity.main_menu.MainMenu"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activity.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>